.bookHeader {
	text-align: center;
	font-size: small;

}

.bookName {
	text-align: center;
	font-size: x-large;
}
p.versiculo {
	text-align: justify;
	/*-webkit-transition: all 0.2s ease;*/
    /*-moz-transition: all 0.2s ease;*/
    /*-o-transition: all 0.2s ease;*/
    /*transition: all 0.2s ease;*/
}
.calling {
	font-style: italic;
	font-size: medium;
	text-align: center;
}

.highlight_versiculo {
background-color: #ddccb5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 2px solid #897048;
padding: 10px;
}
.sub-calling {
	font-style: italic;
	text-align: center;
	font-size: small;
}
